:root{
    --mainclr:white;
    --secclr: orange;
    --third:white;
    --mainafterclr:hsl(167, 81%, 79%);
}
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    transition: .2s;
    text-transform: capitalize;
    text-decoration: none;
}
html{
    font-size: 90.5%;
    
}
.header{
    padding: 0 10px;
    background-color: var(--mainclr);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header #logo{
    width: 70px;
}
.navbar a{
    color: black;
    font-size: bold;
    font-size: 1.5rem;
    margin-left: 2rem;
    position: relative;
  
}
.navbar a:after{
    content: '';
    background: white;
    width: 0;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;
    transition: .3s;
}
.navbar a:hover:after{
    content: '';
    background: var(--secclr);
    width: 100%;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;
}
.icons div{
    font-size: 2rem;
    margin-right: 1rem;
    color: white;
    display: none;
}
.icons a{
    color: white;
    background: var(--secclr);
    padding: 1.5rem 3rem;
    font-size: 1.5rem;
    border-radius: 10px;
    transition: .5s;
}
.icons a:hover{
    background: transparent;
    border: 1px solid var(--secclr);
}
.navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.background-image{
    background: url(medicoimg/downloadbackground.jpeg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 20%;
    position: relative;

}
.background-content{
    position: absolute;
    top: 30%;
    left: 70%;
    width: 70%;
    transform: translate(-80%);
    transition: 1.2rem;
}
.background-content h1{
    color:white;
    font-size: 50px;
    padding-left: 130px;
    text-align: center;
   
  
}

.background-content p {
    font-size: 1.5rem;
    /* margin-bottom: 40px; */
    text-align: center;
    padding-top:60px;
    padding-right: 15px;
    padding-left: 130px;
    transition: width 2s;
    color: white;
}

.background-content a{
    background: var(--secclr);
    padding-top: 50px;
    padding: 1.5rem 4rem;
    border-radius: 25px;
    color: white;
    font-size: 1.5 2rem;
    transition: .5s;
    text-align: center;
}
.background-content a:hover{
    background: transparent;
    border: 1px solid var(--secclr);
    color: white;
}
/* .home{
    padding: 6rem 7%;
    background: var(--third);
} */


.about{
    padding: 6rem 7%;
    background: var(--third);
}
.main-about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    /* flex-wrap: wrap; */
}
.inner-about{
    flex: 1 1 45rem;
}

.inner-about .inner-about-image img{
    width: 120%;
    height: 480%;
}

.botton-2{
    background-color: #ff5d22;
    padding: 15px;
    width:60%;
    /* height:300px; */
    font-size: 15px;
    border-radius: 30px;
    padding-bottom: 10px;
}

/* .img-90{
    width:100% ;
    height: 150%;
} */
.about-content{
    width: 80%;
}
.about-content h1{
    font-size: 40px;
    margin-bottom: 15px;
}
.about-content p{
    font-size: 1.5rem;
    margin-bottom: 30px;
}
.about-content a{
    background: var(--secclr);
    padding: 1rem 3rem;
    font-size: 1.5rem;
    color: white;
    transition: .5s;
}
.about-content a:hover{
    background: transparent;
    border: 1px solid var(--secclr);
    color: black;
}
.our-services{
    padding: 3rem 7%;
}
.service-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0;
}
.left-service-content{
    flex: 1 1 45rem;
}
.center-service-content{
    flex: 1 1 45rem;
    display: flex;
    justify-content: flex-end;

}
.services h1{
    font-size: 30pxpx;
    text-align: center;
    padding-right: 40px;
    padding-top: 30px;
}
.left-service-content p{
    font-size: 1.5rem;
}


.right-service-content .right-btn a{
    padding: 0.4rem 1rem; 
    /* font-size: 12px; */
    text-align: center;
    border-radius: 20px;
    color: white;
    background: var(--secclr);
}

.right-btn{
    text-align: center;  


} 

 






.right-service-content .right-btn a:hover{
    border: 1px solid var(--secclr);
    background: transparent;
    color: black;
}
.main-services{
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.inner-services-content{
    flex: 1 1 300px;
    padding: 1rem 3rem;
    text-align: center;
}
.inner-services-content h2{
    font-size: 15px;
    margin-bottom: 10px;
}
.inner-services-content p{
    font-size: 1.5rem;
    line-height: 2;
}


    
.service-icon i{
    font-size: 4rem;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    text-align: center;
    line-height: 8rem;
    background: var(--mainafterclr);
    color: var(--mainclr);
    margin-bottom: 15px;
    cursor: pointer;
    transition: .3s
}
.note {
    height: 250px;
    width: 300px;
}
.service-icon i:hover{
    color: white;
    background: var(--mainclr);
}
.flu{
    background-image: url(medicoimg/sringess.jpg);
    background-size: no repeat;
     background-position: center; 
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 80%;
    

   
}
.shot {
    text-align: center;
    padding-top: 150px;
    font-size: 30px;
    color:blue;


}
.botton{
    padding: 15px;
    align-items: center;
    margin-left:600px ;
    margin-right: 250px;
    margin-top: 300px;
    border-radius: 30px;
    background-color:rgb(255, 69, 0);
    /* color:#0a0a0a; */

}
.botton:hover{
    background-color:white;
    transition: all 0.4s ease-in-out;
}
.insu{
    width: 100%;
    height: 200px;
}
.insu h3{
    color: blue;
    text-align: center;
    padding-top: 80px; 
    font-size: 40px;
}
.insu p{
    color:black;
    font-size: 20px;
    padding-top: 20px;
    text-align: center;
}
.hr{
    color: blue;
    size: 20px;
}

.coin {
    display: flex;
    align-items: center; 
    text-decoration: none;  
    list-style: none;
  }
  
  .coin img {
    margin-left: 100px; 
    width: 100px; 
    align-items: center; 
    justify-content: space-between;

  }
  .botton-1{
    margin-bottom: 150px;
    margin-left:500px ;
    margin-top: 60px;
    border-radius: 25px;
    background-color:#ff5d22;
    padding: 16px;
    width: 200px;

  }
  /* .button{
    background-color: #ff5d22;
    padding-left: 130px;
    width: 80px;
    border-radius: 25px;
    padding-top: 120px;


  } */
  .seeall h1{
    font-size: 20px;
    text-align: center;
    color: blue;
    
  }
  /* .fourclone{
    text-align: center;
    } */

 .form{
    display: flex;
    justify-content: center;
    gap: 20px;
 }

 .contact h1{
    color: rgb(64, 64, 246);
    font-size: 30px;
 }

 .flex{
    display: flex;
    justify-content: space-between;

 }

 #fname ,#email, #phone, #text-2{
    
    border-style: none;
    width: 50%;
    /* height: 20%; */
    padding: 20px;
    font-size: 17px;
 }

 #fname:hover{
    border-bottom: 3px solid blue;

 }
 #email:hover{
    border-bottom: 3px solid blue;

 }

 #phone:hover{
    border-bottom: 3px solid blue;

 }
 #text-2:hover{
    border-bottom: 3px solid blue;

 }

    
    
 
 .text0{
    background-color: rgb(70, 70, 174);
    text-align: center;
    /* height: 80%; */
    width:31%;
    font-size: 15px;
    /* margin-left: 20px; */
 }
 .footer{
    background-color: rgb(70, 70, 242);
    text-align: center;
    color: aliceblue;
    height: 90px;
    padding-top: 30px;
   

 }
width */
 ::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--mainclr); 
    background: var(--mainclr);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--secclr); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--third); 
  }











@media (max-width:767px) {

    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem;
    }
    .icons div{
        display: initial;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100vh;
        background: var(--secclr);
        display: flex;
        
        align-items: center;
        flex-direction: column;
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }

    
    .navbar a{
        display: block;
        font-size: 3rem;
        font-weight: bolder;
        margin: 1rem;
        padding: 1rem;
        color: black;
    }
    .background-content{
        
        width: 100%;
       left: 50%;
       top: 50%;
       transform: translate(-50%, -50%);
       padding-left: 5rem;
    }
    .inner-about .inner-about-image img{
        margin-top: 20px;
    }

    .right-service-content{
       
        justify-content: flex-start;
    
    }




}